.nav-bar {
    background: linear-gradient(40deg, rgb(30, 29, 29), rgb(12, 12, 12));
    display: flex;
    align-items: center;
}

.nav-bar a {
    color: orange;

}


.nav-options ul {
    display: flex;
    justify-content: right;

}

.nav-options a {
    margin: 20px;
    padding: 20px;

}


a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


li {
    list-style: none;
}

body {
    background: linear-gradient(70deg, rgb(30, 29, 29), rgb(41, 37, 41));
}