body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgb(44, 41, 38);
}

a {
    text-decoration: none;
}

#main-header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 26, 24);
    padding: 0 5%;

}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(238, 164, 80);
    text-transform: uppercase;
}

.menu-btn {
    width: 3rem;
    height: 3rem;
    display: flex;/* since there is no content this will not be visble the dispaly is set to block by deafault in browser */
    flex-direction: column;
    justify-content: space-around; /* will distr. evenly the lines */
}

.menu-btn span {

    width: 50px;
    height: 3px;
    background-color: white;

}

#main-header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#main-header li {
    margin: 0 1rem;
    /* this rem is assuming the font-size fo the navigator by defaul is 16px so */
}

#main-header nav a {
    color: rgb(185, 131, 31);
    font-size: 1.2rem;
    /* assuming the navigator size is 16 it will multpile 1.2 which equal 20aprox " preivous value" */
}

#main-header nav a:hover {
    color: rgb(228, 163, 44);
}

main h1 {
    text-align: center;
    color: rgb(238, 164, 80);
    font-size: 3rem;
}

#latest-products {
    width: 80%;
    /* centering block element can be centered with maring auto property */
    margin: 2rem auto;

}

#latest-products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;

}

.food-items {
    background-color: rgb(229, 206, 182);
    border-radius: 6px;
    /* border radius is recommend express in pixels to make sure not weird behaviour */
    overflow: hidden;


}

.food-items img {
    height: 15rem;
    width: 100%;
    /* percetanges are good practices for reponsive */
    object-fit: cover;
}

.food-item-content {
    padding: 1rem;
    text-align: center;
    font-size: 100%;

}


.btn {

    background-color: rgb(228, 157, 44);
    color: white;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
}

.btn:hover {

    background-color: rgb(221, 134, 34);
}

/* min-width is used from desk top mobile and max from mobile to desk */
@media (max-width:48rem) {

    /* keeping media queries in order of the element defined in html for best practices*/
    #main-header nav {
        /*         opacity:0%; that was a nice try
 */
        display: none;
    }

    main h1 {
        font-size: 1.5rem;
    }


    #latest-products ul {
        grid-template-columns: 1fr;

    }
   
}

@media (min-width:48rem) {
.menu-btn {
    display: none;
}
}